* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    padding: 20px;
    background-color: #e1aD01;
    color: black;
    flex-wrap: wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header h1 {
    display: inline-block;
    font-size: 50px;
}
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 24px;
}
header div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
header div ul li {
    display: inline-block;
    margin-left: 30px;
    text-align: right;
}
a {
    color: black;
    text-decoration: none;
}
.tilebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content h2 {
    border-bottom: 3px solid black;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 20px;
    font-size: 28px;
}
#about-me {
    background-color: lightslategray;
}
#work {
    background-color: #e1aD01;
}
.workbox {
    position: relative;
    display: flex;
    height: 300px;
    width: 300px;
    border: 3px solid lightslategray;
}
.workboxtext {
    position: absolute;
    left: 0px;
    top: 130px;
    background-color: lightslategray;
    font-size: 30px;
    border: 5px solid #e1aD01;
    padding: 5px;


}
#contact-me {
    background-color: lightslategray;
}
#contact-me ul {
    list-style-type: none;
}
#contact-me ul li {
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}
footer {
    background-color: #e1aD01;
}